*{
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
body{
  background: linear-gradient(#cddc39,#009688);
  background-size: cover;
}
.row{
  background: #ffe501;
  width: 80%;
  margin: 4% auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.col{
  flex-basis: 25%;
  text-align: center;
  overflow: hidden;
  height: 268px;
  position: relative;
}
.col img{
  width: 100%;
  cursor: pointer;
  height: 268px;
  transition: 1s;
}
.col p{
  margin: 10px 0;
}
h3{
  margin-top: 120px;
}
.social-link svg{
  cursor: pointer;
  transition: transform 0.5s;
}
.social-link svg:hover{
  transform: translateY(-5px);
}
.col:hover img{
  transform: scale(1.1);
}
.col span{
width: 0;
border-top: 20px solid transparent;
border-bottom: 20px solid transparent;
border-right: 15px solid #ffe501;
position: absolute;
top: 50%;
right: 0;
transform: translateY(-50%);
z-index: 2;
}
.col .arrow{
border-left: 15px solid #ffe501;
border-right: 15px solid transparent;
right: unset;
left: 0;
}
@media (max-width: 770px) {
  .row{
    width: 100%;
  }
  .col{
    flex-basis: 50%;
    font-size: 14px;
  }
  .social-link svg{
    width: 20px;
    height: 20px;
  }
  .row .col:nth-child(1){
    order: 1;
  }
  .row .col:nth-child(2){
    order: 2;
  }
  .row .col:nth-child(3){
    order: 5;
  }
  .row .col:nth-child(4){
    order: 6;
  }
  .row .col:nth-child(5){
    order: 3;
  }
  .row .col:nth-child(6){
    order: 4;
  }
  .row .col:nth-child(7){
    order: 7;
  }
  .row .col:nth-child(8){
    order: 8;
  }
}
